@charset "UTF-8";

/*見出し以下の登録フォーム*/
.box{
	margin-top: 20px;
    margin-left: 25%;
    height: 800px;
    width: 500px;
    /*border: 1px solid silver;*/
    /*background-color: silver;*/
}

/*～さん宛て*/
.to_user{
    /*float: left;*/
    margin-top: 70px;
    margin-left: 50px;
}

/*受電日時*/
.get_call{
    float: left;
    margin-top: 30px;
    margin-left: 100px;
}

/*年月日表示*/
.today_year{
	clear: both;
    margin-top: 30px;
    margin-left: 140px;
}

/*午前・午後のチェックボックス*/
.AM{
	float: left; 
    margin-top: 10px;
    margin-left: 180px;
}

/*AMボタン*/
.morning{
	display: block;
}

/*何時何分のボックス*/
.time{
	float: left; 
    margin-top: 20px;
    margin-left: 20px;
}

/*会社名*/
.company_place{
    clear: both;
    margin-top: 10px;
    margin-left: 100px;
}

/*会社リストボックス*/
.company{
	float: left;
    margin-top: 10px;
    margin-left: 140px;
}

/*氏名*/
.name{
    clear: both;
    margin-left: 100px;
    margin-top: 60px;
}

/*氏名記入欄*/
.company_name{
	float: left;
    margin-top: 10px;
    margin-left: 140px;
}

/*対応*/
.support{
    clear: both;
    margin-top: 60px;
    margin-left: 100px;
}

/*対応のいずれかにチェックしてください*/
.deal_with{
	float: left;
	margin-left: 25%;
}

/*伝言内容を入力してください*/
.comment{
	float: left;
	margin-left: 30%;
}


/*対応のチェックボックス*/
.list-unstyled{
	float: left;
    clear: both;
    margin-top: 5px;
    margin-left: 30%;
}

/*もう一度お願いします*/
.check1{
	display: block;
}

/*折り返しお願いします*/
.check2{
	display: block;
}

/*メモ欄*/
.memo{
	float: left;
    clear: both;
    margin: 10px;
    margin-left: 140px;
}

/*受電者*/
.get_info{
    clear: both;
    margin-left: 100px;
}

/*受電者リストボックス*/
.from_user{
	float: left;
    margin-top: 5px;
    margin-left: 140px;
}

/*登録ボタン*/
.entry{
    clear: both;
    float: left;
    margin-top: 40px;
    margin-left: 65%;
}